{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <h2>Contact us</h2>
    <div id="div_parent_contact">
        <div id="left_div_contact">
            <h3>Contact us by email</h3>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <form method="post">
                <div>
                    <label for="mail">Your email : </label>
                    <input type="text" id="mail" name="email">
                </div>
                <div>
                    <label for="sujet">Object : </label>
                    <input type="text" id="sujet" name="subject" maxlength="40">
                </div>
                <div>
                    <label for="message">Message : </label>
                    <textarea id="message" name="message"></textarea>
                </div>
                <div class="div_button_center div_one_width">
                    <button class="btn btn_one_width">Send</button>
                </div>
            </form>
            {% if not app.user %}
                <div class="div_button_center div_one_width">
                    <button onclick="window.location.href='{{ path('app_login') }}'" class="btn_href btn_one_width">Back to connexion</button>
                </div>
            {% endif %}
        </div>
        <div id="right_div_contact">
            <h3>Meet us</h3>
            <p>You can meet us every Friday evening from 7:00 pm at the Maison de Quartier PASTEUR in Villeneuve d'Ascq.</p>
            <div></div>
        </div>
    </div>
{% endblock %}
