{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h2>My account</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <p><span>*</span> : mandatory field</p>

    {{ form_start(myAccountForm, {'attr': {'id': 'myAccountForm'}}) }}
    {{ form_end(myAccountForm) }}

    <div class="div_button_center div_one_width">
        <button class="btn btn_one_width" onclick="document.getElementById('myAccountForm').submit();">Update account</button>
    </div>
{% endblock %}
