<form method="post" action="{{ path('app_rancking_delete', {'id': event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <div class="div_button_center div_one_width">
        <button class="btn btn_one_width">Delete</button>
    </div>
</form>
