{% extends 'base.html.twig' %}

{% block title %}All Rankings{% endblock %}

{% block body %}
    <h2>All Rankings</h2>
    <div class="right_button">
        <a href="{{ path('app_rancking_view_general') }}" class="btn_href">View general Ranking</a>
    </div>
    </br>
    </br>
    <div class="table_div">
        <table>
            <thead>
                <tr>
                    <th>Label</th>
                    <th colspan="2">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.label }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('app_rancking_create', {'id': event.id}) }}" class="btn_href">Create ranking</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_rancking_view', {'id': event.id}) }}" class="btn_href">View ranking</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">no rankings found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
