{% extends 'base.html.twig' %}

{% block title %}Hello LegalsMentionsController!{% endblock %}

{% block body %}
    {% if not app.user %}
        <div class="div_button_center div_one_width">
            <button onclick="window.location.href='{{ path('app_login') }}'" class="btn_href btn_one_width">Back to connexion</button>
        </div>
    {% endif %}
{% endblock %}
