{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <h2>Forgot your password ?</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <p><span>*</span> : mandatory field</p>

    {{ form_start(resetPasswordForm, {'attr': {'id': 'resetPasswordForm'}}) }}
    {{ form_end(resetPasswordForm) }}

    <div class="div_button_center div_one_width">
        <button class="btn btn_one_width" onclick="document.getElementById('resetPasswordForm').submit();">Reinitialize</button>
    </div>
{% endblock %}
