html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #c0c0c0;
}

header {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: auto;
}

#banner {
    width: 100%;
    height: 100%;
}

#logout {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: auto;
}

nav {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin: 0px 70px;
}

nav > ul > li > a {
    color: #f1f1f1;
    text-decoration: none;
    font-family: Chalet book;
    font-size: 22px;
}

nav > ul > li > a:hover {
    color: #027ec7;
    font-weight: bolder;
}

#poking {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
}

main, footer {
    position: relative;
    margin: 0;
    background-color: #0f0f0f;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.pattern {
    flex: 1;
}

#main_content {
    flex: 6;
}

h1, h2 {
    font-family: Chalet book;
    color: #f1f1f1;
    text-align: center;
}

.title_results {
    text-align: left;
}

.btn, .btn_href {
    background-color: #027ec7;
    color: #f1f1f1;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: Chalet book;
    font-size: 22px;
}

.btn:hover, .btn_href:hover {
    background-color: #cb2c4f;
}

.right_button {
    margin: auto;
    width: 90%;
}

.right_button > a {
    float: right;
}

.p_mandatory {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f1f1f1;
    font-family: Chalet book;
}

.span_mandatory {
    color: #99001b;
    font-weight: bold;
    font-size: 30px;
    font-family: Chalet book;
}

#div_mentions {
    padding: 0px 60px;
}

.mentions_title {
    color: #c0c0c0;
    font-family: Chalet book;
    font-size: 22px;
}

.paragraph {
    color: #f1f1f1;
    font-family: Chalet book;
    font-size: 20px;
    text-align: justify;
}

table {
    margin: auto;
    border-spacing: 0 10px;
    width: 100%;
}

th {
    font-family: Chalet book;
    font-size: 22px;
    color: #f1f1f1;
    text-align: center;
}

td {
    font-family: Chalet book;
    font-size: 22px;
    color: #0f0f0f;
    text-align: center;
    background-color: #f1f1f1;
}

.rounded_left {
    border-radius: 10px 0px 0px 10px;
}

.rounded_right {
    border-radius: 0px 10px 10px 0px;
}

.rounded_all {
    border-radius: 10px 10px 10px 10px;
}

#div_table_ranking {
    margin: auto;
    border-spacing: 0 10px;
    width: 100%;
}

#div_form {
    margin: auto;
    width: 80%;
}

label {
    font-weight: bold;
    font-family: Chalet book;
    font-size: 22px;
    color: #f1f1f1;
    margin-top: 10px;
}

.form_input {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 4px;
    width: 99%;
    font-size: 20px;
}

.form_place_contact {
    width: 100%;
}

.div_birthday_cp_city {
    margin-bottom: 10px;
}

.form_birthday {
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 5px;
}

.form_postcode {
    border-radius: 4px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 15px;
    width: 5%;
    padding: 5px;
}

.form_city {
    border-radius: 4px;
    font-size: 20px;
    margin-left: 5px;
    width: 78.5%;
    padding: 5px;
}

.form_date {
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 5px;
    width: 12%;
}

.form_time {
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 5px;
    width: 5.5%;
}

form > ul {
    list-style: none;
}

form > ul > li {
    color: #cb2c4f;
    font-size: 22px;
    font-family: Chalet book;
}

#length_season {
    width: 20%;
    font-size: 20px;
    font-family: Chalet book;
}

#textarea_event {
    width: 95%;
    height: 100px;
    resize: none;
    font-size: 20px;
    font-family: Chalet book;
}

#textarea_contact {
    width: 100%;
    height: 400px;
    resize: none;
    font-size: 20px;
    font-family: Chalet book;
    margin-top: 10px;
}

.checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#numbersboard1select, #numbersboard2select, #numbersboard3select, #suitsboard1select, #suitsboard2select, #suitsboard3select, #boardcards1, #boardcards2, #boardcards3,
#numbershole1select, #numbershole2select, #suitshole1select, #suitshole2select, #holecards1, #holecards2, #pseudo, #rank, #points, #kills {
    font-size: 20px;
    font-family: Chalet book;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue_link {
    color: #027ec7;
    text-decoration: none;
}

.red_link {
    color: #cb2c4f;
    text-decoration: none;
}

.contact_map {
    width: 100%;
    height: auto;
}

.div_parent_button {
    display: flex;
}

.div_button {
    flex: 1;
}

.div_one_width {
    width: 100%;
}

.div_button_center {
    vertical-align: middle;
    text-align: center;
}

.btn_view_width {
    width: 90%;
}

.btn_too_width {
    width: 60%;
}

.btn_one_width {
    width: 15%;
}

#stats_result_parent {
    display: flex;
}

.stats_result_child {
    flex: 1;
}

.stats_result_p {
    color: #f1f1f1;
    font-family: Chalet book;
    font-size: 20px;
}

footer {
    margin-top: 4px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer_child {
    flex: 1;
}

.footer_p, .footer_p a:not(.active) {
    text-align: center;
    color: #c0c0c0;
    font-family: Chalet book;
    font-size: 17px;
}

.footer_p a:hover {
    color: #027ec7;
    font-weight: bolder;
}

.active {
    color: #cb2c4f;
    font-weight: bolder;
}

#div_parent_view, #div_parent_contact {
    display: flex;
}

#div_parent_contact {
    justify-content: space-between;
}

#left_div_view, #right_div_view {
    flex: 1;
}

#left_div_contact, #right_div_contact {
    width: 48%;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #f1f1f1;
    font-size: 20px;
    font-family: Chalet book;
}

.alert-success {
    background-color: #027ec7;
    border: 1px solid #00253b;
}

.alert-danger {
    background-color: #cb2c4f;
    border: 1px solid #490e1b;
}

.login_links {
    text-align: center;
}

.login_links > a {
    color: #027ec7;
    font-size: 20px;
    font-family: Chalet book;
}
