<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration list</title>
        <style></style>
    </head>
    <body>
        <h1>Registration list</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Surname</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in registrations %}
                    <tr>
                        <td>{{ registration.user ? registration.user.pseudo : '' }}</td>
                        <td>{{ registration.user ? registration.user.surname : '' }}</td>
                        <td>{{ registration.user ? registration.user.name : '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no people found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
