{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    <p><span>*</span> : mandatory field</p>

    {{ include('event/_form.html.twig') }}

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
