{% extends 'base.html.twig' %}

{% block title %}Update Event{% endblock %}

{% block body %}
    <h1>Update Event</h1>

    <p><span>*</span> : mandatory field</p>

    {{ include('event/_form.html.twig') }}
{% endblock %}
